# Managed by Ansible (host_networking role)
BRIDGE_NAME="{{ routerlab_bridge_name }}"
BRIDGE_ADDRESS="{{ routerlab_bridge_address }}"
TAP_NAME="{{ routerlab_tap_name }}"
TAP_OWNER="{{ routerlab_tap_owner }}"
IP_FORWARD="{{ '1' if routerlab_enable_ip_forward else '0' }}"
